.container{
  margin: 10px auto;
}

.not-found-page {
font-size: 30px;
text-align: center;
margin: 0;
padding: 20px
}

.mat-mdc-raised-button:not(:disabled){
  margin-top: 20px;
  padding: 20px 10px;
  font-size: 18px;
}

.not-found-page-btn{
  text-align: center;
}
