.container {
  padding: 20px;
}

.photo-container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: space-evenly;
  row-gap: 20px;
}

.alert-message p{
  color: #3f51b5;
  font-size: 30px;
  margin: 0;
  padding: 20px 0;
  text-align: center;
}
